

.groupSectionBtn{
    background-color: #0e8b8f;
    width: 11rem;
    align-items: center;
    justify-content: center;
    height: 1.7rem;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    
}
.groupSectionBtn span{
    color: white;
    font-weight: 400 !important;
}
.groupSectionBtn img{
    width: 3rem;
}

.groupSectionBtnMain{
    width: fit-content !important;
}


.groupSectionBtn:hover{
    background-color: #1f7679;
}
.slick-dots{
    margin-top: 5%;
    z-index: 5;
}
@media (max-width:650px) {
    .sliderBtns{
        margin-top: -15%;
    }
}