.navIcon{
    transform: translate(36%,81%);
}
    .navBarResponsive{
        width: 15em;
    }
    .notResp{
        width:4em
    }
.addBtn{
padding: 7px;
background-color: rgb(63, 63, 202);
color: white;
text-align: center;
border: none;
outline: none;
border-radius: 10px;
}
.uploadImg{

align-items: center;
padding-top: 10px;
border-radius: 16px;
}
.adminTable td,th{
vertical-align: middle;
text-align: center;

}
.tableMain::-webkit-scrollbar{
display: none;
}