.blogSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    padding: 1rem 0;
}
.blogH1{
    text-align: -webkit-center;
}
.blogH1::after{
    content: '';
    display: block;
    width: 90%;
    height: 2px;
    background-color: #0E8B8F;
    
}
.blogCard{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#0E8B8F;
    border-radius: 10px 10px 10px 0px;
    margin-bottom: 2rem;
}
.blogCard:nth-child(even){
    background-color: transparent !important;
    border: 1px solid #0E8B8F;
}
.blogCard:nth-child(even) .contentSectionBlogCard h2{
    color: #0E8B8F !important;
}
.blogCard:nth-child(even) .contentSectionBlogCard p{
    color: #0E8B8F !important;
}
.blogCard .imgSectionBlogCard{
    width: 30%;
    margin-bottom: -4px;
    border-radius: inherit;
}
.blogCard .imgSectionBlogCard img{
    width: 100%;
    border-radius: inherit;
}
.blogCard .contentSectionBlogCard{
    width: 70%;
    color: white ;
    padding: 0 2rem;
}
.blogCard .contentSectionBlogCard h2{
    margin-bottom: 1rem !important;
}
@media (max-width:1100px) {
    .blogSection{
        width: 90%;
    }
}
@media (max-width:975px) {
    .blogSection{
        width: 100%;
    }
}
@media (max-width:860px) {
    .blogCard{
        width: 90%;
    }
}
@media (max-width:760px) {
    .blogCard{
        width: 95%;
    }
}
@media (max-width:710px) {
    .blogCard{
        flex-direction: column;
        width: 50%;
        padding: 1rem;
        border-radius: 10px;
        min-width: 20rem;
        
    }
    .blogCard .imgSectionBlogCard{
        width: 100%;
    }
    .blogCard .contentSectionBlogCard{
        width: 100%;
        padding: 0 ;
        padding-top: 1rem;
        
    }
    .contentSectionBlogCard p{
        width: 100%;
    }

}
.blogSectionS{
    width: 60%;
    display: flex;
    align-items: start;
    justify-content:center ;
    flex-direction: column;
}
@media (max-width:1000px) {
    .blogSectionS{
        width: 70%;
    }
}
@media (max-width:800px) {
    .blogSectionS{
        width: 80%;
    }
}
@media (max-width:650px) {
    .blogSectionS{
        width: 90%;
    }
}
.readMoreC{
    cursor: pointer;
}
@media (max-width:350px) {
    .blogCard{
        min-width: 17rem;
    }
}