/* header.................. */
.navSection{
    width: 100%;
    position: relative;
    display: flex;
    margin-top: -1rem;
}
.navLinks{
    width: 72%;
    align-items: center;
    justify-content: end;
    display: flex;

}
.navLinks span{
    margin-left: 1.5rem;
    text-transform: uppercase;
}
.socialMediaSection{
    width: 28%;
    display: flex;
    justify-content: center;
}

.cls-1{fill:none;stroke:#0e8b8f;stroke-miterlimit:10;}
.cls-2{fill:#0e8b8f;}
#Layer_1{
    width: 2.3rem;
    margin-right: 0.8rem;
}


/* enquiryform................. */

.enquirySection{
    width: 100%;
    background-color: #0E8B8F;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5rem 0;
    margin-top: 50rem;
}
.enquirySection h3{
    color: white;
    font-weight: lighter;
    font-size: 2rem;
    margin: 15px;
}
.enquirySection input{
    width: 40%;
    height: 2.4rem;
    border-radius: 2px;
    border: none;
    outline: none;
    padding-left: 18px;
}
.enquirySection span{
    color: white;
    font-size: 1.5rem;
    border: 1.5px solid rgba(255, 255, 255, 0.5);
    padding: 2px 4rem;
    margin-top: 2rem;
    border-radius: 2px;
}
.enquirySection input::placeholder{
    color: rgba(142, 142, 142,0.6);
    font-size: 1rem;
    
}