
/* enquiryform................. */

.enquirySection{
    width: 100%;
    background-color: #0E8B8F;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5rem 0;
}
.enquirySection h3{
    color: white;
    font-weight: lighter;
    font-size: 2rem;
    margin: 15px;
}
.enquiryInput{
    width: 42%;
}
.enquirySection input{
    width: 100%;
    height: 2.4rem;
    border-radius: 2px;
    border: none;
    outline: none;
    padding-left: 18px;
}
.enquirySection span{
    color: white;
    font-size: 1.5rem;
    border: 1.5px solid rgba(255, 255, 255, 0.5);
    padding: 2px 4rem;
    margin-top: 2rem;
    transition: all ease-in-out 0.2s;
    border-radius: 2px;
    cursor: pointer;
}
.enquirySection span:hover{
    background-color: white;
    color: #0E8B8F;

}
.enquirySection input::placeholder{
    color: rgba(142, 142, 142,0.6);
    font-size: 1rem;
    
}
.dropInput{
    padding: 0.8rem 0.5rem;
    border-radius: 4px;
    transition: all ease 1s;
    cursor: pointer;
}
/* sections................ */

    
.groupSection{
    width: 100%;
    text-align: center;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;

}
.groupDesc{
    width: 90%;
    margin-top: -5%;
    min-width: 40.5rem;
}
.groupMobile{
    display: none;
    width: 50%;
    margin-top: -5%;
    min-width: 18rem;

}
@media (min-width:650px) {
.dividerSection{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -5%;
    position: relative;
}
.dividerSection video{
    width: 62%;
    min-width: 25rem;
}
.dividerContent{
    display: flex;
    flex-direction: column;
    height: fit-content;
    margin-left: -18%;
    width: 40%;
}
.compasSection{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: -5%;
}
.compasSection video{
    width: 60%;
    margin-left: 40%;
    min-width: 26rem;
}
.compasContent{
    width: 40%;
    height: fit-content;
    margin-left: -20%;
    position: absolute;
}
.protactorSection{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;

}
.protactorSection video{
    width: 55%;
    z-index: 1;
    min-width: 26rem;
}
.protactorContent{
    width: 30%;
    margin-top: -20%;
}
.scale1Section{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: -5%;
}
.scale1Section video{
    width: 55%;
    margin-left: 30%;
    min-width: 27rem;

}
.scale1Content{
    width: 30%;
    margin-left: -25%;
    top: 15%;
    position: absolute;
}
.scale2Section{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.scale2Section video{
    width: 55%;
    min-width: 28rem;
}
.scale2Content{
    width: 32%;
    margin-top: -20%;
    margin-left: -10%;
}

}
/* font sizes..................... */

.sectionh1{
    font-size: clamp(1.2rem,3vw,1.8rem);
}
.sectionp{
    font-size: clamp(0.8rem,1vw,1.1rem);
}

@media (max-width:750px) {
    .dividerContent{
        width: 45%;
        margin-left: -22%;
    }
    .compasContent{
        width: 45%;
        margin-left: -30%;
    }
    .protactorContent{
        margin-top: -25%;
        margin-left: -5%;
        z-index: 2;
    }
    .scale1Content{
        width: 35%;
        margin-left: -35%;
        top: 15%;
    }
    .underLine{
        margin-top: -13px;
    }
    
}
@media (max-width:650px) {
    .groupDesc{
        display: none;
    }
    .groupMobile{
        display: block;
    }
}


