body{
    padding: 0;
    margin: 0;
}
.blank{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
}
.blankDiv{
    height: 100vh;
    overflow: hidden;
}
.blank img{
    animation: logoBlink 0.5s  infinite alternate forwards;

}

@keyframes logoBlink {
    0%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}
h1{
    font-size: clamp(1.2rem, 3vw, 1.8rem) !important;
}
h2{
    font-size: clamp(1rem, 3vw, 1.3rem) !important;
}