
.projectSectionMain .card{
    width: 15rem;
    height: 20rem;
    background-color: #0E8B8F;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.projectSectionMain .card img{
    width: 100%;
    height: 83%;
    border-radius: 10px 10px 0px 0px;
    mix-blend-mode: overlay;
}
.projectSectionMain .card2{
    background-color: rgb(224 224 224 / 65%);;
}
.projectSectionMain .card2 p{
    color: #0E8B8F;
}
.imageSection{
    background: url(../../assets/Asset\ 4@300.png);
    width: 65%;
    aspect-ratio: 1/0.8;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 4%;
}
.scrollSectionSingleProject{
    background-color: #0E8B8F;
    width: 65%;
    height: 35vh;
    margin-bottom: 5%;
    margin-top: -30px;
    mix-blend-mode: multiply;
    display: flex;
    align-items: center;
    justify-content: start;
}

.scrollSectionSingleProject img{
    border: 5px solid white;
    width: 8rem;
    margin-left: 1rem;
    
}


/* .colmn-2 span{
    font-weight: 600;
    color: rgb(82, 81, 81);
} */
.Image-360Section{
    width: 100%;
    aspect-ratio: 1/0.5;
    position: relative;
    display: flex;
    flex-direction: column;
}
.Image-360Section iframe{
    position: absolute;
    width: 50%;
    top: 50%;
    left: 50%;
    min-width: 20rem;
    transform: translate(-50%,-50%);
    align-self: center;
    justify-content: center;
}
.readMore{
    cursor: pointer;
}
.readMore:hover{
    text-decoration: underline;
}
.scrollBtn{
    cursor: pointer;
}
.scrollBtn:hover{
    transform: scale(0.9);

}
.scrollContainer{
    transition: all 1s ease-in-out;
    scroll-behavior: smooth;
}
.scrollCard{
    transition: all 1s ease-in-out;
    scroll-behavior: smooth;
}
html{
    scroll-behavior: smooth;
}

/* constructions............... */

.constructionSection{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.constructionSection .imgSec{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.imgSec video{
    width: 100%;
    min-width: 16rem;
}
.constructionSection .contentSec{
    width: 50%;
}
.constructionH1{
    text-align: -webkit-center;
}
.constructionH1::after{
    content: '';
    display: block;
    width: 2.5rem;
    height: 1px;
    margin-top: 10px;
    background-color: #0E8B8F;
}
.readMoreC{
    background-color: #0e8b8f;
    color: white;
    padding: 5px 30px;
    border-radius: 7px;
    margin-top: 2rem;
}
.constructionP{
    text-align: -webkit-center;
}
.constructionP::before{
    content: '';
    display: block;
    width: 2.5rem;
    height: 1px;
    margin-bottom: 10px;
    background-color: #0E8B8F;
}
@media (max-width:900px) {
    .constructionSection{
        width: 90%;
    }
    
}
@media (max-width:850px ) {
    
    .projectSectionMain .card{
        width: 13rem !important ;
        height: 18rem !important;
    }
    .projectSectionMain .card3 p{
        margin-top: 20% !important;
    }
}
@media (max-width:725px) and (min-width:650px){
    .projectSectionMain .card{
        width: 12rem !important;
        height: 17rem !important;
    }
    .projectSectionMain .card p{
        font-size: 0.9rem !important;
    }
}

@media (max-width:650px) {
    .projSec{
        margin-top: 4rem !important;
    }
    .constructionSection{
        flex-direction: column;
    }
    .imgSec{
        width: 100% !important;
    }
    
    .contentSec{
        width: 100% !important;
    }
    .projectSectionMain{
        grid-template-columns: auto auto !important;
    }
    .projectSectionMain .card{
        border-radius: 40px;
    }
    .projectSectionMain .card img{
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
    }
    .ourProjectsP{
        min-width: 90% !important;
    }
}
@media (max-width:460px) {
    .projectSectionMain .card{
        width: 12rem !important;
        height: 16rem !important;
    }
}
@media (max-width:425px) {
    .projectSectionMain .card{
        width: 11rem !important;
        height: 15rem !important;
    }
    .projectSectionMain .card p{
        font-size: 0.7rem !important;
    }
}

@media (max-width:385px) {
    .projectSectionMain .card{
        width: 10rem !important;
        height: 14rem !important;
    }
    
}

.projectSectionMain .slideBtn{
    width: 1.3rem;
}
@media (max-width:750px) {
  .projectSectionMain .slideBtn{
    width: 1rem !important;
   }
  .projectSectionMain .slick-prev{
    left: 0.5% !important;
   }
  .projectSectionMain .slick-next{
    right: 0% !important;
   }
}
@media (max-width:335px) {
   .projectSectionMain .projectSectionMain .card{
        width: 9rem !important;
        height: 13rem !important;
    }
}

.projectSectionMain .slick-prev{
    left: 0.5%;
    z-index: 10;
}
.projectSectionMain .slick-prev:before{
    display: none;
}
.projectSectionMain .slick-next{
    right: 0.5%;
    z-index: 10;
}
.projectSectionMain .slick-next:before{
    display: none;
}




.projectSectionMain .slick-slider{
    width: 100% !important;
}
.projectSectionMain .slick-slide{
    display: flex !important;
    justify-content: center !important;
}

.card3{
    position: absolute;
    top: 0;
    z-index: -2;
    transform: rotateY(180deg);
}
.card1,.card3{
    backface-visibility: hidden;
}
.cardMain{
    position: relative;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    perspective: 1000px;
}
.cardMain1:hover .cardMain{
    transform: rotateY(180deg);
  }

@media (max-width:900px) {
    .singleProjectSection img,.singleProjDetailHeading,.projectDetail{
        width: 80% !important;
    }
}

@media (max-width:550px) {
    .singleProjectSection img,.singleProjDetailHeading,.projectDetail{
        width: 90% !important;
    }
    .Image-360Section{
        aspect-ratio: 1/0.8;
    }
}

.projectDetail{
    width: 65%;
    display: flex;
}
.projectDetail .colmn1{
    width: 60%;
}
.projectDetail .colmn2{
    width: 40%;
}
.singleProjDetailHeading p{
    font-weight: 500 !important;
}
.dtl{
    font-weight: 500 !important;
    color: rgba(48, 48, 48,0.8) !important;
}
.colmn2 div:nth-child(even) span{
    color: #0E8B8F !important;
    font-weight: 500 !important;

}
.colmn2 div:nth-child(odd) span{
    font-weight: 500 !important;
    color: rgba(48, 48, 48,0.8) !important;
}
@media (max-width:650px) {
    .projectDetail{
        flex-direction: column !important;
        padding-left: 10%;
    }
    .singleProjDetailHeading{
        padding-left: 10%;
    }
    .projectDetail .colmn1,.colmn2{
        width: 100% !important;

    }
    .colmn2{
        margin-top: 2rem;
    }
}
@media (max-width:420px) {
    .projectDetail,.singleProjDetailHeading{
        padding-left: 0;
    }
    
}

