.footerSection{
    width: 100%;
    height: 50vh;
    background-color: rgb(234 234 234);
    display: flex;
    padding: 3% 0;
}
.footerSection .logoSection{
    width: 60%;
    height: inherit;
}
.footerSection .contactSectionF{
    width: 40%;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footerSection .contactSectionF div{
    width: 75%;
}

.footerSocialMedia svg:hover .cls-1{
    fill: #0E8B8F;
}
.footerSocialMedia svg:hover .cls-2{
    fill: white;
}
.callUs{
    color: black;
    text-decoration: none;
    opacity: 0.7;

}
.callUs:hover{
    text-decoration: underline;
}

@media (max-width:650px) {
    .businessHours{
        display: none;
    }
    .textBelow{
        display: none;
    }
    .footerSocialMedia{
        margin-top: -2rem;
    }
    .footerSection .logoSection{
        width: 40%;
        padding-left: 10%;
    }
    .footerSection .contactSectionF{
        width: 60%;
    }
    .footerLogo{
        width: 10rem !important;
    }
    .footerSocialMedia svg{
        width: 1.6rem !important;
        margin-right: 0.2rem !important;
    }
    .footerSection .contactSectionF div{
        width: 90%;
    }
    .contactSectionF span,a,p{
        font-size: 0.9rem !important;
    }
    .contactSectionF div{
        border-bottom: #0E8B8F 2px solid !important;
    }

}